h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
html, body { min-height: 100% } 
#button_b131709 { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:76px; height:50px; background-color:#DD231D; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#button_b131709:hover { background-color:#000000;  }
#button_b131709:hover span { color:#FFFFFF; }
#button_1a94120e { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:149px; height:50px; background-color:#DD231D; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#button_1a94120e:hover { background-color:#00FF84;  }
#button_1a94120e:hover span { color:#000000; }
#button_132a3734 { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:150px; height:50px; background-color:#DD231D; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#button_132a3734:hover { background-color:#00FF84;  }
#button_132a3734:hover span { color:#000000; }
#button_2204bb82 { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:201px; height:50px; background-color:#00FF84; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#button_2204bb82:hover { background-color:#DD231D;  }
#button_2204bb82:hover span { color:#000000; }
#button_144d08a2 { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:62px; height:73px; background-color:#FFFFFF; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#button_144d08a2:hover { background-color:#00FF84;  }
#button_144d08a2:hover span { color:#FFFFFF; }
#button_4581182d { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; float:left; width:280px; height:79px; background-color:#FFFFFF; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#button_4581182d:hover { background-color:#00FF84;  }
#button_4581182d:hover span { color:#000000; }
#button_17f69881 { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:62px; height:77px; background-color:#FFFFFF; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#button_17f69881:hover { background-color:#00FF84;  }
#button_17f69881:hover span { color:#FFFFFF; }
#button_7a45e9aa { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; float:left; width:280px; height:79px; background-color:#FFFFFF; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#button_7a45e9aa:hover { background-color:#00FF84;  }
#button_7a45e9aa:hover span { color:#000000; }
#button_638c8d1a { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:62px; height:79px; background-color:#FFFFFF; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#button_638c8d1a:hover { background-color:#00FF84;  }
#button_638c8d1a:hover span { color:#FFFFFF; }
#button_6631db7e { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; float:left; width:279px; height:81px; background-color:#FFFFFF; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#button_6631db7e:hover { background-color:#00FF84;  }
#button_6631db7e:hover span { color:#000000; }
body { background-color:#FFFFFF; background-image: url(../rc_images/background_1066x1200.png); background-position:top left; background-size:cover; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_9edd8f6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:94px; min-width:1200px; background-color:#3626A7; background: linear-gradient(to bottom, #1E1560, #3626A7);  }
#container_9edd8f6_padding { margin: 10px; display: block;  }
#container_42a69c2c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:77px; background:none;  }
#container_42a69c2c_padding { margin: 10px; display: block;  }
#container_5b808294 { vertical-align: top; position:relative; display: inline-block; width:8%; min-height:70px; background:none;  }
#container_5b808294_padding { margin: 10px; display: block;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
#img_5676e254 { position:absolute; left:16%; top:2%; width:68%; background:none; height:auto;  }
#container_27239954 { vertical-align: top; position:relative; display: inline-block; width:27%; min-height:66px; background:none;  }
#container_27239954_padding { margin: 10px; display: block;  }
#text_75cc62d2 { position:absolute; left:4%; top:9%; width:251px; height:69px; background:none;  }
.textstyle2 { font-size:36pt; font-family:STAR7; color:#DD231D;  }
#container_5ed3bce5 { vertical-align: top; position:relative; display: inline-block; width:17%; min-height:66px; background:none;  }
#container_5ed3bce5_padding { margin: 10px; display: block;  }
#container_7ac11f4b { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:70px; background:none;  }
#container_7ac11f4b_padding { margin: 10px; display: block;  }
.textstyle3 { text-align:center; }
.textstyle4 { font-size:20pt; font-family:STAR7; color:#000000;  }
#container_2d9c05f5 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:70px; background:none;  }
#container_2d9c05f5_padding { margin: 10px; display: block;  }
#container_669fc5f2 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:70px; background:none;  }
#container_669fc5f2_padding { margin: 10px; display: block;  }
.textstyle5 { font-size:12pt; font-family:STAR7; color:#000000;  }
#container_17ac11cf { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:22px; background:none;  }
#container_17ac11cf_padding { margin: 10px; display: block;  }
#container_3d8ccbb7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:238px; background:none;  }
#container_3d8ccbb7_padding { margin: 10px; display: block;  }
#container_10377463 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:212px; background-color:rgba(54, 38, 167, 0.498039);  }
#container_10377463_padding { margin: 10px; display: block;  }
#text_32aabf3 { position:absolute; left:3%; top:11%; width:1330px; height:213px; background:none;  }
.textstyle6 { font-size:50pt; font-family:Starbirl; color:#FFFFFF;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_50fe4c2d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:238px; background:none;  }
#container_50fe4c2d_padding { margin: 10px; display: block;  }
#container_25c634d8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:412px; background-color:rgba(54, 38, 167, 0.498039);  }
#container_25c634d8_padding { margin: 10px; display: block;  }
#container_1fc046bc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:394px; background:none;  }
#container_1fc046bc_padding { margin: 10px; display: block;  }
#container_6f11cc35 { vertical-align: top; position:relative; display: inline-block; width:40%; min-height:373px; background:none;  }
#container_6f11cc35_padding { margin: 10px; display: block;  }
#container_6c8a3dbe { vertical-align: top; position:relative; display: inline-block; width:2%; min-height:22px; background:none;  }
#container_6c8a3dbe_padding { margin: 10px; display: block;  }
#img_1cad1a91 { vertical-align: bottom; position:relative; display: inline-block; width:86%; background:none; height:auto;  }
#container_5318f513 { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:372px; background:none;  }
#container_5318f513_padding { margin: 10px; display: block;  }
#container_62dd9841 { vertical-align: top; position:relative; display: inline-block; width:2%; min-height:38px; background:none;  }
#container_62dd9841_padding { margin: 10px; display: block;  }
#container_32675b5d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:158px; background:none;  }
#container_32675b5d_padding { margin: 10px; display: block;  }
.textstyle8 { text-align:right; }
#heading_27960a10 { vertical-align: top; position:relative; display: inline-block; float:right; width:692px; background:none; font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:left;  }
#container_23e78b93 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:165px; background:none;  }
#container_23e78b93_padding { margin: 10px; display: block;  }
#heading_17666c37 { vertical-align: bottom; position:relative; display: inline-block; float:right; width:692px; background:none; font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:left;  }
#container_12077a6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:22px; background:none;  }
#container_12077a6_padding { margin: 10px; display: block;  }
#container_42d8d902 { vertical-align: top; position:relative; display: inline-block; width:32%; min-height:423px; background-color:rgba(54, 38, 167, 0.498039);  }
#container_42d8d902_padding { margin: 10px; display: block;  }
#container_5e0baf3e { vertical-align: top; position:relative; display: inline-block; width:99%; min-height:73px; background:none;  }
#container_5e0baf3e_padding { margin: 10px; display: block;  }
#button_1c4ecbc4 { vertical-align: bottom; border-radius: 10px; position:relative; display: inline-block; width:403px; height:53px; background-color:#FFFFFF; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
.textstyle9 { font-size:20pt; font-family:'Bridge OFFicer'; color:#000000;  }
#container_3433bcff { vertical-align: top; position:relative; display: inline-block; width:99%; min-height:73px; background:none;  }
#container_3433bcff_padding { margin: 10px; display: block;  }
#container_3cd59a72 { vertical-align: top; position:relative; display: inline-block; width:23%; min-height:57px; background:none;  }
#container_3cd59a72_padding { margin: 10px; display: block;  }
#img_48e06044 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#container_4af4fd3 { vertical-align: top; position:relative; display: inline-block; width:75%; min-height:95px; background:none;  }
#container_4af4fd3_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:16pt; font-family:'Bridge OFFicer'; color:#000000;  }
#container_388dafed { vertical-align: top; position:relative; display: inline-block; width:99%; min-height:73px; background:none;  }
#container_388dafed_padding { margin: 10px; display: block;  }
#container_7483db53 { vertical-align: top; position:relative; display: inline-block; width:23%; min-height:57px; background:none;  }
#container_7483db53_padding { margin: 10px; display: block;  }
#img_719dbe57 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#container_7dbed0a6 { vertical-align: top; position:relative; display: inline-block; width:77%; min-height:99px; background:none;  }
#container_7dbed0a6_padding { margin: 10px; display: block;  }
#container_66ca5416 { vertical-align: top; position:relative; display: inline-block; width:99%; min-height:73px; background:none;  }
#container_66ca5416_padding { margin: 10px; display: block;  }
#container_6a636fcf { vertical-align: top; position:relative; display: inline-block; width:23%; min-height:57px; background:none;  }
#container_6a636fcf_padding { margin: 10px; display: block;  }
#img_265c584b { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#container_6e25ee6f { vertical-align: top; position:relative; display: inline-block; width:77%; min-height:101px; background:none;  }
#container_6e25ee6f_padding { margin: 10px; display: block;  }
#container_64589801 { vertical-align: top; position:relative; display: inline-block; width:2%; min-height:22px; background:none;  }
#container_64589801_padding { margin: 10px; display: block;  }
#container_33ab7473 { vertical-align: top; position:relative; display: inline-block; width:66%; min-height:453px; background-color:rgba(54, 38, 167, 0.498039);  }
#container_33ab7473_padding { margin: 10px; display: block;  }
#container_235b3471 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:12px; background:none;  }
#container_235b3471_padding { margin: 10px; display: block;  }
#container_fb36e63 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:22px; background:none;  }
#container_fb36e63_padding { margin: 10px; display: block;  }
#container_153d0912 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:10px; background-color:#FFFFFF;  }
#container_153d0912_padding { margin: 10px; display: block;  }
#container_69563e92 { vertical-align: top; position:relative; display: inline-block; width:3%; min-height:79px; background:none;  }
#container_69563e92_padding { margin: 10px; display: block;  }
#container_318d4fa8 { vertical-align: top; position:relative; display: inline-block; width:2%; min-height:79px; background:none;  }
#container_318d4fa8_padding { margin: 10px; display: block;  }
#heading_a51ad11 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:40pt; font-family:STAR7; color:#FFFFFF; text-align:left;  }
#container_63e95b3a { vertical-align: top; position:relative; display: inline-block; float:right; width:48%; min-height:79px; background:none;  }
#container_63e95b3a_padding { margin: 10px; display: block;  }
#heading_8294f55 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:left;  }
#heading_8294f55_padding { margin: 15px 0px 0px 0px;display: block;  }
#container_1bdf4e8c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:22px; background:none;  }
#container_1bdf4e8c_padding { margin: 10px; display: block;  }
#container_25b8112d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:14px; background-color:#FFFFFF;  }
#container_25b8112d_padding { margin: 10px; display: block;  }
#container_48390faf { vertical-align: top; position:relative; display: inline-block; width:3%; min-height:79px; background:none;  }
#container_48390faf_padding { margin: 10px; display: block;  }
#container_1b67dbf0 { vertical-align: top; position:relative; display: inline-block; width:40%; min-height:82px; background:none;  }
#container_1b67dbf0_padding { margin: 10px; display: block;  }
#heading_6d291f31 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:40pt; font-family:STAR7; color:#FFFFFF; text-align:left;  }
#container_30cbec7a { vertical-align: top; position:relative; display: inline-block; width:2%; min-height:79px; background:none;  }
#container_30cbec7a_padding { margin: 10px; display: block;  }
#container_2be9ba87 { vertical-align: top; position:relative; display: inline-block; float:right; width:48%; min-height:79px; background:none;  }
#container_2be9ba87_padding { margin: 10px; display: block;  }
#heading_43d30ea6 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:center;  }
#heading_43d30ea6_padding { margin: 10px 0px 0px 0px;display: block;  }
#container_1354b0f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:17px; background:none;  }
#container_1354b0f_padding { margin: 10px; display: block;  }
#container_31fc9f08 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:10px; background-color:#FFFFFF;  }
#container_31fc9f08_padding { margin: 10px; display: block;  }
#container_3479b30e { vertical-align: top; position:relative; display: inline-block; width:3%; min-height:79px; background:none;  }
#container_3479b30e_padding { margin: 10px; display: block;  }
#container_5893e2be { vertical-align: top; position:relative; display: inline-block; width:39%; min-height:82px; background:none;  }
#container_5893e2be_padding { margin: 10px; display: block;  }
#heading_12f25c71 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:40pt; font-family:STAR7; color:#FFFFFF; text-align:left;  }
#container_43f35ecd { vertical-align: top; position:relative; display: inline-block; width:2%; min-height:79px; background:none;  }
#container_43f35ecd_padding { margin: 10px; display: block;  }
#container_6f4409d4 { vertical-align: top; position:relative; display: inline-block; float:right; width:48%; min-height:79px; background:none;  }
#container_6f4409d4_padding { margin: 10px; display: block;  }
#heading_3eea1c9a { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:left;  }
#heading_3eea1c9a_padding { margin: 20px 0px 0px 0px;display: block;  }
#container_784852be { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:17px; background:none;  }
#container_784852be_padding { margin: 10px; display: block;  }
#container_5e5c8731 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:10px; background-color:#FFFFFF;  }
#container_5e5c8731_padding { margin: 10px; display: block;  }
#container_72631e1e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:22px; background:none;  }
#container_72631e1e_padding { margin: 10px; display: block;  }
#container_774b48e4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:360px; background-color:rgba(54, 38, 167, 0.298039);  }
#container_774b48e4_padding { margin: 10px; display: block;  }
#container_2b4e4854 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:97px; background:none;  }
#container_2b4e4854_padding { margin: 10px; display: block;  }
#text_1775169f { position:absolute; left:0%; top:3%; width:723px; height:69px; background:none;  }
.textstyle11 { font-size:60pt; font-family:STAR7; color:#DD231D;  }
#container_2deaf571 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:429px; background:none;  }
#container_2deaf571_padding { margin: 10px; display: block;  }
#container_47a52391 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:33%; min-height:372px; background:none; border: 1px dotted #FFFFFF;  }
#container_47a52391_padding { margin: 10px; display: block;  }
#container_63e7ddcd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:219px; background:none;  }
#container_63e7ddcd_padding { margin: 10px; display: block;  }
#img_601aa4ff { vertical-align: bottom; position:relative; display: inline-block; width:64%; background:none; height:auto;  }
#container_2905895e { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:138px; background:none; border-top: 1px solid #FFFFFF; border-left: none; border-right: none; border-bottom: none;  }
#container_2905895e_padding { margin: 10px; display: block;  }
#container_44b8d1a7 { vertical-align: top; position:relative; display: inline-block; width:102%; min-height:52px; background:none;  }
#container_44b8d1a7_padding { margin: 10px; display: block;  }
#heading_1273c1a3 { vertical-align: top; position:relative; display: inline-block; width:124px; background:none; font-size:24pt; font-family:STAR7; color:#FFFFFF; text-align:left;  }
#heading_1b4ef990 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:344px; background:none; font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:left;  }
#container_7b80cf7b { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:33%; min-height:378px; background:none; border: 1px dotted #FFFFFF;  }
#container_7b80cf7b_padding { margin: 10px; display: block;  }
#container_1f20ea97 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:219px; background:none;  }
#container_1f20ea97_padding { margin: 10px; display: block;  }
#img_12b10353 { vertical-align: bottom; position:relative; display: inline-block; width:72%; background:none; height:auto;  }
#container_389feffb { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:116px; background:none; border-top: 1px solid #FFFFFF; border-left: none; border-right: none; border-bottom: none;  }
#container_389feffb_padding { margin: 10px; display: block;  }
#container_758d54be { vertical-align: top; position:relative; display: inline-block; width:99%; min-height:57px; background:none;  }
#container_758d54be_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:24pt; font-family:STAR7; color:#FFFFFF;  }
#heading_23963370 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:138px; background:none; font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:left;  }
#container_78216e62 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:33%; min-height:378px; background:none; border: 1px dotted #FFFFFF;  }
#container_78216e62_padding { margin: 10px; display: block;  }
#container_5cf6bb4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:219px; background:none;  }
#container_5cf6bb4_padding { margin: 10px; display: block;  }
#img_b3f86bb { vertical-align: bottom; position:relative; display: inline-block; width:41%; background:none; height:auto;  }
#container_755ad5e2 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:122px; background:none; border-top: 1px solid #FFFFFF; border-left: none; border-right: none; border-bottom: none;  }
#container_755ad5e2_padding { margin: 10px; display: block;  }
#container_1b8cd1f5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:54px; background:none;  }
#container_1b8cd1f5_padding { margin: 10px; display: block;  }
#heading_14ac78d3 { vertical-align: bottom; position:relative; display: inline-block; float:left; width:182px; background:none; font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:left;  }
#container_17e72186 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:22px; background:none;  }
#container_17e72186_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 1000px)
{
		#container_5b808294 { width:100%;  }
		#container_27239954 { width:100%;  }
		#container_5ed3bce5 { width:100%;  }
		#container_7ac11f4b { width:100%;  }
		#container_2d9c05f5 { width:100%;  }
		#container_669fc5f2 { width:100%;  }
}
@media only screen and (max-width: 600px)
{
		#container_47a52391 { width:100%;  }
		#container_44b8d1a7 { width:100%;  }
		#container_7b80cf7b { width:100%;  }
		#container_758d54be { width:100%;  }
		#container_78216e62 { width:100%;  }
		#container_1b8cd1f5 { width:100%;  }
}
@media only screen and (max-width: 400px)
{
		#container_6f11cc35 { width:100%;  }
		#container_5318f513 { width:100%;  }
		#container_32675b5d { width:100%;  }
		#container_23e78b93 { width:100%;  }
}
